.env
env.txt
user_status_cache.json
bot_memory.pickle
flask-local.log
__pycache__/
.vendor/
*.pyc
*.pyo
*.log
*_Letter_*.pdf
*_Letter_*.png
CA_Letter_*.pdf
CA_Letter_*.png
Internship_Letter_*.pdf
Internship_Letter_*.png
Offer_Letter_*.pdf
Offer_Letter_*.png
